@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;

700&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

main {
  background: rgb(212, 211, 211);
  height: 100vh;
  padding: 5rem 0;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /*Hover*/
}

.container .card {
  --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
  width: calc((100% - 5rem) / 5);
  height: 400px;
  padding: 5px;
  text-align: center;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 1;
}

.container .card h2,
.container .card h3 {
  margin: 0.5rem 0;
}

.container .card .mini_info {
  margin-top: 2rem;
}

.container .card .mini_info p {
  line-height: 1.5rem;
}

.container .card .mini_info strong {
  font-size: 14px;
}

.container .card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.container .card-info {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
}

.container .card:hover::after {
  opacity: 0;
}

.container .card:hover .card-info {
  color: #f7ba2b;
  transition: color 1s;
}

